:root {
	color-scheme: light only;
}

html, body {
	color-scheme: light only;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;					
}

html {
	font-size: 10px;
}

html.magnify {
	font-size: 13px;
}

#root {
	margin: 0 auto;
	text-align: center;
	font-family: Regular;
	color: black;
	width: 390px;
	min-width: 390px;
	max-width: 450px;
}

::-webkit-scrollbar {
	display: none;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.bold-text {
	-webkit-text-stroke: 0.5px;
}

.space-box {
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
/*outline: 1px solid gray;*/
}

.content-box {
	width: 100%;
	height: 100%;
	color: black;
	font-size: 1.6rem;
	font-family: Regular;
	forced-color-adjust: none;
	-webkit-forced-color-adjust: none;
}

.button {
	height: 3rem;
	cursor: pointer;
	font-family: Regular;
	font-size: 1.6rem;
	line-height: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgb(242,238,238);
	border-radius: 1rem;
	padding: 0.5rem;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	outline: none;
	border: none;
	color: black;
}

.button:focus,
.button:hover,
.button:focus-visible {
	outline: none;
}

.main-frame {
	position: relative;
	display: flex;
	flex-direction: column;
	color: black;
	background-color: #F8F7EE;
	font-family: Regular;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	forced-color-adjust: none;
	-webkit-forced-color-adjust: none;
}

.section-title {
	font-family: Bold;
	font-size: 1.8rem;
	margin: 0;
	padding: 0;
	color: #2F2359;
	-webkit-text-stroke: 0.5px #2F2359;
	border: none;
	outline: none;
	forced-color-adjust: none;
	-webkit-forced-color-adjust: none;
}

.section-subtitle {
	font-family: Jaemin;
	font-size: 1.4rem;
	color: #F24822;
	margin: 0 auto;
	padding: 0;
	outline: 0;
	border: 0;
	forced-color-adjust: none;
	-webkit-forced-color-adjust: none;
}

@media (max-width: 1400px) {
	.main-frame {
		width: 100%;
	}
}

@keyframes fradeIn {
	from {
		opacity: 0;
	} 
	to {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 1.5s ease-in-out;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@keyframes fadeOut {
	to {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes slideDownFadeOut {
	0% {
		transform: translate(-50%, -1rem);
		opacity: 0;
	}
	20% {
		transform: translate(-50%, 0);
		opacity: 1;
	}
	80% {
		transform: translate(-50%, 0);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 0);
		opacity: 0;
		visibility: hidden;
	}
}

.slideDownFadeOut {
	opacity: 0;
	animation: slideDownFadeOut 3.5s ease forwards;
	animation-delay: 3s;
}

@keyframes slideDown {
	0% {
		transform: translate(0,-1rem);
		opacity: 0;
	}
	20% {
		transform: translate(0,0);
		opacity: 1;
	}
	80% {
		transform: translate(0,0);
		opacity: 1;
	}
	100% {
		transform: translate(0,0,);
		opacity: 1;
	}
}

.slidedown {
	opacity: 0;
	animation: slideDown 3.5s ease forwards;
	animation-delay: 3s;
}

@font-face {
	font-family: 'Regular';
	src: url('./assets/fonts/GowunDodum-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Bold';
	src: url('./assets/fonts/GowunDodum-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Jaemin';
	src: url('./assets/fonts/Jaemin.ttf') format('truetype');
}

	




