.grid-wrapper {
	position: relative;
}

.grid-wrapper .slick-slide {
	box-sizing: border-box;
}

.gird-wrapper .slick-slide .slick-active > div,
.grid-wrapper .slick-slide .slick-active .slick-current > div {
display: flex;
height: 100%;
				justify-content: center;
				align-items: center;
}

.grid-wrapper .slick-dots {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;			
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.grid-wrapper .slick-dots li {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 0.2rem;						 
	padding: 0;
	line-height: 1rem;
	font-size: 1rem;
	height: 1rem;
}

.grid-wrapper .slick-dots li button {
	padding: 0;
	margin: 0;
	height: 1rem;
	line-height: 1rem;
}

.grid-wrapper .slick-dots li button:before {
	line-height: 1rem;
}

.grid-item {
padding: 0rem;
padding-left: 0.3rem;
padding-right: 0.3rem;
	box-sizing: border-box;
}

.grid-item img {
	width: 100%;
	display: block;
	border-radius: 0.5rem;
}

.modal-wrapper,
.modal-wrapper .slick-slider,
.modal-wrapper .slick-list,
.modal-wrapper .slick-track,
.modal-wrapper .slick-slide,
.modal-wrapper .slick-slide > div {
	height: 100% !important;
	width: 100%;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-slide {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: none;
}

.modal-image {
	max-width: 100%;
	max-height: 80%;
	width: 100% !important;
	height: auto !important;
	object-fit: contain !important;
	display: block;
	margin: auto;
}

.modal-wrapper .slick-dots {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	right: 0;
	transform: translateX(-50%);
	display: block !important;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 7.5rem;
	height: 2.5rem;
	overflow: hidden;
}

.modal-wrapper .slick-dots ul {
	display: flex !important;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	will-change: transform;
	width: max-content;
	height: 2.5rem;
}

.modal-wrapper .slick-dots li {
	width: 1.5rem !important;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex !important;
	align-items: center !important;
	line-height: 1.6rem;
	height: 1.6rem;
}

.modal-wrapper .slick-dots li button {
	padding: 0;
	margin: 0;
	height: 100%;
	line-height: 1.6rem;
	width: 1.6rem;
	cursor: pointer;
	position: absolute !important;
}

.modal-wrapper .slick-dots li button:before {
	line-height: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.6rem;
	height: 1.6rem;
	margin: 0;
	padding: 0;
	text-align: center;
}
