.image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
					{/*	-webkit-mask-image: linear-gradient(
		to bottom,
		transparent 0%,
		black 20%,
		black 80%,
		transparent 100%
	);
	mask-image: linear-gradient(
		to bottom,
		black 0%,
		transparent 100%
	);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	*/}
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 40%;
}

.image-container::after,
.image-container::before {
content: '';
position: absolute;
left: 0;
width: 100%;
height: 100%;
pointer-events: none
}

.image-container::before {
	top: 0;
	box-shadow: 0 -30px 30px #F8F7EE inset;
}

.image-container::after {
bottom: 0;
				box-shadow: 0 30px 30px #F8F7EE inset;
}

