.image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 40%;
}

.image-container::after{
content: '';
position:absolute;
inset: 0;
pointer-events:none;
background: linear-gradient(
	to bottom,
	  rgba(248,247,238,1) 0%,
    rgba(248,247,238,0) 25%,
    rgba(248,247,238,0) 25%,
    rgba(248,247,238,1) 100%
		);
}
