.image-container {
	width: 85%;
	height: 250px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 40%;
}
