.introduce-box {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	width: 95%;
	height: auto;
}

.introduce-body {
	font-family: Regular;
	font-size: 1.6rem;
margin: 0;
padding: 1rem;
width: 50%;
			 text-align: left;
}

.introduce-photo {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 0.5rem;
}

.introduce-photo img {
width: 100%;
height: 100%;
object-fit: contain;
object-position: center;
}

.divider {
	width: 100%;
	border: 0.5px solid gray;
	outline: 0;
	margin-top: 0;
	margin-bottom: 0.5rem;
}
