.notice-wrapper {
	position: relative;
	border: 1.5px solid #BAD4B9;
	border-radius: 2.4rem;
	padding-top: 4rem;
	padding-bottom: 2rem;
	background: none;
	width: 90%;
	margin: 0 auto;
}

.notice-title {
	height: 5rem;
	position: absolute;
	top: -2.5rem;
	left: 50%;
	transform: translateX(-50%);
	background: #F8F7EE;
	color: white;
	padding: 0;
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.notice-cotent {
	text-align: center;
	color: black;
	font-size: 1.6rem;
	line-height: 2rem;
}

.notice-content p {
	margin-bottom: 2.4rem;
}
