.rsvp-title {
	font-family: Regular;
	font-size: 1.8rem;
	text-align: center;
	padding: 0;
	margin: 0;
	-webkit-text-stroke: 0.5px;
	color: black;
}

.rsvp-question {
	font-family: Regular;
	height: 2rem;
	width: 90%;
	font-size: 1.6rem;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	line-height: 2rem;
	color: black;
}

.rsvp-input {
	font-family: Regular;
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin: 0 auto;
	padding: 0.5rem;
	height: 2rem;				 
	border-radius: 0.8rem;
	background-color: rgb(242,238,238);
	border: none;
	outline: none;
}

.rsvp-input:focus,
.rsvp-input:hover,
.rsvp-input:focus-visible {
	outline: none;
}


.rsvp-toggle {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.rsvp-toggle .button {
	width: 15rem;
}

.rsvp-toggle .button.active {
	outline: 1.5px solid #BAD4B9;
}

.rsvp-name {

}

.rsvp-attendance {

}

.rsvp-guest {

}

.rsvp-side {

}


