.name {
	font-size: 1.6rem;
	font-family: Bold;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	display: flex;
	justify-content: left;
	align-items: center;
	-webkit-text-stroke: 0.3px black;
}

.explain {
	font-size: 1.6rem;
	font-family: Regular;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: left;
}

.notation {
	font-size: 1.6rem;
	font-family: Regular;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: left;
	-webkit-text-stroke: 0.3px gray;
	color: gray;
}
