.video-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-wrapper video,
.video-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.video-wrapper[poster] {
	height: 100%;
	width: 100%;
}
